<% if current_user %>
  <p><%= link_to "New Movies", new_movie_path ,class: "btn btn-primary" %></p>
<% else %>
  <%= link_to "Add New Movie", user_session_path,class: "btn btn-primary" %>
<% end %>
<h2>All Movies </h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Rlease Date</th>
    </tr>
  </thead>
  <tbody>
  	<% i=0
  	 @movies.each do |movie| i+=1%> 	
    <tr>
   	  <th scope="row"><%= i %></th>
      <td><h5><%= link_to movie.name ,movie_path(movie)%></h5></td>
      <td><%= movie.rating %></td>
      <td><%= movie.release %></td>
      <td><%= link_to "Edit" ,edit_movie_path(movie), class: "btn btn-primary" %></td>
      <td><%= link_to "Delete", movie_path(movie), class: "btn btn-danger", method: :delete, data:{confirm: 'are yo sure?'} %> </td>
    </tr> 
    <% end %>
  </tbody>
</table>
<br>	
<%= link_to "Back" ,root_path, class: "btn btn-success" %>
